<h1>#Trending news</h1>

<% @data.each do |i| %>


<div id="title"> 
<%= i.title %>
</div>
<br>
<div id="outer" >
<div id="image">
<%= image_tag i.avatar_file_name %>
</div>

<div id="description">
<%= i.description %>
</div>



</div>
<div id="yes-no<%= i.id %>" class="r_ir_class" >
	<span> Please give your answer : </span>
	<span id="yes">

	<%= link_to "RELEVANT NEWS",  news_vote_path(i.id) , id: "yes#{i.id}" , remote: true , method: :post %>
	</span>
	&nbsp; &nbsp; &nbsp; &nbsp; 
	<span id="no">
		<%= link_to "IRRELEVANT NEWS",  news_devote_path(i.id) , remote: true , method: :post %>
	</span>

</div>



<div id="votes_id">
VOTES :
<span id="votes<%= i.id %>" style="color: white ; background-color: red "> 
<%= i.votes %> 
</span>
</div>

<br> 
<br>
<br> 
<br>

<% end %>

